services:
  db:
    image: postgres:18
    container_name: db
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      POSTGRES_DB: okrs
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

volumes:
  postgres_data: