# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - WebStorm
*.iml

# dotenv environment variable files
.env
.env.*
!.env.example

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Prisma
/generated
/generated/prisma
prisma/*.db
prisma/*.db-journal

# TypeScript
*.tsbuildinfo

# Optional npm cache
.npm

# Optional eslint cache
.eslintcache

# Yarn
.yarn/cache
.yarn/unplugged
.yarn/install-state.gz
.pnp.*

# Lock files (uncomment if you want to ignore)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
